$charcoal-grey: #424849;
$steel-grey: #778082;
$cool-grey: #b0b9bb;
$silver: #e7e9e9;
$pinkish-orange: #ff7542;
$pale-grey: #e8f2f9;
$teal-blue: #007fae;
$dark-teal: #003d54;
$lightblue: #5ccdf1;
$apple: #7bd33c;
$duck-egg-blue: #edf5fb;
$pastel-yellow: #fff46c;
$algae-green: #26c55c;
$pale-grey-two: #f1f5f5;
$silver-two: #bdcaca;

$font-family-1: "Open Sans";
@font-face {
    font-family: "HelveticaNeueDeskInterface";
    src: url("./assets//fonts/HelveticaNeueDeskInterface-Regular.ttf");
}

// font: [font-style||font-variant||font-weight||font-stretch] font-size [/line-height] font-family

// $left-sidebar-nav-item-font: 600 16px 'Open Sans';

.left-sidebar-nav-item-font {
    font-family: $font-family-1;
    font-size: 16px;
    font-weight: 600;

    color: $dark-teal;
}

.title-text-font {
    font-family: $font-family-1;
    font-size: 24px;
    font-weight: bold;
    color: $charcoal-grey;
}

.Text-Style-9 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;

    text-align: center;
    color: $charcoal-grey;
}

.home-page-product-card-price-font {
    font-family: $font-family-1;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: $charcoal-grey;
}

.Text-Style-15 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;

    color: #ffffff;
}

.Text-Style-17 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;

    color: $charcoal-grey;
}

.Text-Style-2 {
    font-family: $font-family-1;
    font-size: 18px;
    font-weight: 600;

    color: $dark-teal;
}

.Text-Style-13 {
    font-family: "Open Sans Bold", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;

    color: $charcoal-grey;
}

.Text-Style {
    font-family: $font-family-1;
    font-size: 16px;
    font-weight: 600;

    color: $dark-teal;
}

.Text-Style-16 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;

    text-align: center;
    color: #ffffff;
}

.homepage-product-card-name-font {
    font-family: $font-family-1;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $charcoal-grey;
}

.teal-blue-text-font {
    font-family: $font-family-1;
    font-size: 16px;
    text-align: right;
    color: $algae-green;
}

.Text-Style-14 {
    font-family: $font-family-1;
    font-size: 16px;

    line-height: 1.5;

    color: $charcoal-grey;
}

.Text-Style-18 {
    font-family: $font-family-1;
    font-size: 16px;

    color: $charcoal-grey;
}

.product-cart-shopcart-btn-font {
    font-family: $font-family-1;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.advantage-text-font {
    font-family: $font-family-1;
    font-size: 14px;
    color: $charcoal-grey;
}

.homepage-product-card {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: $teal-blue;
    text-transform: uppercase;
}

.Text-Style-12 {
    font-family: $font-family-1;
    font-size: 13px;

    color: $steel-grey;
}

.home-page-amount-font {
    font-family: $font-family-1;
    font-size: 13px;
    text-align: center;
    color: $steel-grey;
}

.Text-Style-17 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: $charcoal-grey;
}
.RUB-font {
    font-family: "HelveticaNeueDeskInterface";
    font-size: 18px;
    color: $charcoal-grey;
}
.header-bottom-font {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.Text-Style-18 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $charcoal-grey;
}
.Text-Style-19 {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #728184;
}

.center-bg-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Text-Style-7 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: $charcoal-grey;
}

.Text-Style-20 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: $algae-green;
    text-transform: uppercase;
}

.Text-Style-21 {
    font-family: "Open Sans Semi-Bold", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    color: #ffffff;
}

$container-padding: 80px;

.RUB {
    @extend .RUB-font;
}
