.underline {
  text-decoration: underline;
}

.container {
  font-size: 16px
}

.icon-back {
  width: 50px;
  height: 50px;
  background: #edf5fb;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-shop {
  display: flex;
}

.wrapper-icon {
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  height: 400px;
}

.social-net ul {
  display: flex;
  padding: 0;

  a {
    &:nth-child(1) li {
      margin-left: 0;
      background: #4d76a1
    }

    &:nth-child(2) li {
      background: #5ada6f
    }

    &:nth-child(3) li {
      background: #f59623
    }

    &:nth-child(4) li {
      background: #77479d
    }

    &:nth-child(5) li {
      background: #f63e94
    }
  }

  li {
    background-color: red;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}