@media (max-width: 1024px) {
  .categories-menu-desktop {
    display: none;
  }
}

.menu-category {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 285px;
  text-align: left;
  border-top: solid 1px #e7e9e9;
  cursor: pointer;

  > .item-icon-container {
    flex-basis: 60px;
    display: flex;
    margin-right: 15px;

    > .item-icon {
      height: 32px;
      width: 32px;
      margin: auto;
    }
  }

  > .item-caption {
    flex-basis: 100%;
    font-size: 18px;
  }

  > .item-arrow {
    flex-basis: 15px;
    color: #b0b9bb;
    width: 7px;
    height: 14px;
    // border: solid 1.2px #b0b9bb;
  }
}

.category-menu {
  margin-top: 20px;

  .menu-category:first-child {
    border-top: none;
  }
}

.bm-menu {
  .category-menu {
    margin-top: 0;

    .menu-category {
      padding: 15px;

      & > .item-arrow {
        display: none;
      }
    }
  }
}

.sidebar-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
}

@include media-breakpoint-up(md) {
  .bm-burger-button {
    display: none !important;
  }
}

@include media-breakpoint-down (md) {
  .bm-burger-button {
    z-index: 1 !important;
    position: absolute;
    width: 28%;
    height: 80px;
    top: 12px;
    left: 0;
    font-size: 24px;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "\2630";
      color: $default_title_color;
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
    }

    &:hover:before {
      color: $algae-green
    }
  }
}

.bm-cross-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px !important;

  &:before {
    content: '\2715';
    position: absolute;
    color: $default_title_color;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
  }

  &:hover:before {
    color: $algae-green
  }
}

.left {
  #slide {
    background: #f7f8fa !important;
  }
}

.bm-item {
  outline: none;

  .row {
    padding-top: 20px;

    .tt-mobile-collapse {
      margin-top: 30px;
      margin-left: 20px;
    }
  }
}

.menu-item {
  cursor: pointer;
  border-bottom: 1px solid #e9e7e7;

  :hover {
    color: $algae-green;
  }
}

.sidebar-title {
  font-weight: 100;
}